<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite - Primer Sprint-">

    <test name="Modelo.AlmacenTest">
        <classes>
            <class name="Modelo.AlmacenTest"/>
        </classes>
    </test>

    <test name="Modelo.ArmaFactoryTest">
        <classes>
            <class name="Modelo.ArmaFactoryTest"/>
        </classes>
    </test>

    <test name="Modelo.BarcoFactoryTest">
        <classes>
            <class name="Modelo.BarcoFactoryTest"/>
        </classes>
    </test>

    <test name="Modelo.BarcoTest">
        <classes>
            <class name="Modelo.BarcoTest"/>
        </classes>
    </test>

    <test name="Modelo.BombaTest">
        <classes>
            <class name="Modelo.BombaTest"/>
        </classes>
    </test>

    <test name="Modelo.DireccionesArmaTest">
        <classes>
            <class name="Modelo.DireccionesArmaTest"/>
        </classes>
    </test>

    <test name="GestorFicherosTest">
        <classes>
            <class name="Modelo.GestorFicherosTest"/>
        </classes>
    </test>

    <test name="Modelo.HerramientasJuegoFactoryTest">
        <classes>
            <class name="Modelo.HerramientasJuegoFactoryTest"/>
        </classes>
    </test>

    <test name="Modelo.HumanoTest">
        <classes>
            <class name="Modelo.HumanoTest"/>
        </classes>
    </test>

    <test name="Modelo.IATest">
        <classes>
            <class name="Modelo.IATest"/>
        </classes>
    </test>

    <test name="Modelo.ListaArmasTest">
        <classes>
            <class name="Modelo.ListaArmasTest"/>
        </classes>
    </test>

    <test name="Modelo.ListaBarcosTest">
        <classes>
            <class name="Modelo.ListaBarcosTest"/>
        </classes>
    </test>

    <test name="Modelo.ListaJugadoresTest">
        <classes>
            <class name="Modelo.ListaJugadoresTest"/>
        </classes>
    </test>

    <test name="Modelo.MisilDirigTest">
        <classes>
            <class name="Modelo.MisilDirigTest"/>
        </classes>
    </test>

    <test name="Modelo.ObjTableroTest">
        <classes>
            <class name="Modelo.ObjTableroTest"/>
        </classes>
    </test>

    <test name="Modelo.ParteBarcoTest">
        <classes>
            <class name="Modelo.ParteBarcoTest"/>
        </classes>
    </test>

    <test name="Modelo.RadarTest">
        <classes>
            <class name="Modelo.RadarTest"/>
        </classes>
    </test>

    <test name="Modelo.TableroTest">
        <classes>
            <class name="Modelo.TableroTest"/>
        </classes>
    </test>

</suite>