*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#Intellij Files
.idea/
battleship-java-mvc.iml
.DS_Store
out/
sprints/.DS_Store
sprints/sp1/.DS_Store
src/.DS_Store
src/Vista/.DS_Store
test/.DS_Store
